body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--grey);
  font-family: Whitneybook, Helvetica Neue, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: myFirstFont;
  src: url(./../font/whitneybook.otf);
}

:root {
  --dark: #23272a;
  --grey: #f6f6f6;
  --blue-d: #8ea1e1;
}

#header_site {
  position: relative;
  height: 504px;
  background-image: url(./../img/jumbo.png);
  background-size: cover;
}

.menu {
  position: absolute;
  height: 66px;
  width: 960px;
}

.voice-menu {
  width: 600px;
  height: 66px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.voice-menu p {
  display: inline-block;
  padding-top: 8px;
  padding-right: 10px;
  font-weight: bold;
}

.voice-menu p:nth-child(5) {
  padding-right: 0;
}

.voice-menu a {
  color: white;
  text-decoration: none;
}

.contain {
  height: 100%;
  width: 960px;
  margin: 0 auto;
}

.menu img {
  width: 150px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.log-in {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  height: 31px;
  width: 57px;
  border-radius: 38%;
  border: transparent;
  background-color: white;
  color: var(--dark);
}

/*fine menu*/

.disclaimer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 236px;
  width: 634px;
}

.title-d h2 {
  color: white;
  padding: 0px;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  font-size: 40px;
}

.paragraph-d p {
  text-align: center;
  color: white;
}

.button-d {
  width: 472px;
  margin: 0 auto;
  padding-top: 10px;
}

.propriety-button {
  height: 45px;
  border-radius: 100px;
  padding: 0px 25px 0px 25px;
  border-style: none;
}

.b-dx {
  position: absolute;
  right: 81px;
  background-color: var(--dark);
  color: white;
}

/*fine header*/
/*da capire come impostare l'immgagine header*/

section {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 622px;
}

.aside-mag {
  width: 53%;
  height: 100%;
  float: left;
}

.aside-min {
  float: left;
  width: 47%;
  height: 100%;
  margin: 0px 0px 0px 0px;
}

.aside-mag img {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.aside-min .aside-text {
  width: 50%;
  margin: 0 0 0 auto;
  padding-top: 120px;
}
.aside-text h2 {
  font-weight: 900;
  font-size: 30px;
}

.aside-mag-dx {
  width: 53%;
  height: 100%;
}

.aside-min-sx {
  width: 47%;
  height: 100%;
}

.aside-min-sx .aside-text {
  width: 60%;
  margin: 0 auto 0 0;
  padding-top: 120px;
}

.aside-mag-dx img {
  position: absolute;
  top: 50%;
  transform: translate(40%, -60%);
}

.final-section>h2 {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  padding: 0;
  margin: 0;
  text-align: center;
}
.final-section p {
    margin: 0;
    padding: 0;
  text-align: center;
}

#cta-begin>.contain>button{
    display: block;
margin: 0 auto;
width: 200px;
  padding-top: 10px;
  height: 45px;
  border-radius: 100px;
  padding: 0px 25px 0px 25px;
  border-style: none;
  background-color: var(--blue-d);
  color: white;
}

section:last-child {
  height: 120px;
}

section:nth-child(1) {
  background-color: white;

}

section:nth-child(3) {
  background-color: white;
}


aside.central{
    text-align: center;

}
/*fine del main*/

footer {
  height: 500px;
  background-color: var(--dark);
  padding-top: 50px;
}

footer h2{
    color: var(--blue-d);
}

footer h3{
    color: var(--blue-d);
}

.social{
    width: 25%;
}

.social img{
   width: 15px;
}
.contain>.social span{
    color: white;
 }


 .social, .prodotto, .compagnia, .risorse, .norme{
     float: left;
     color: white;
     width: 20%;
 }

 ul{
     text-align: left;
    list-style-type: none;
 }
 li{
     margin-left: -40px;
 }